






    <!-- Carousel
    ================================================== -->
    
<div id="home" class='container'>

<div class="jumbotron jumbo-pad">
<h1 class="main-heading">JailBreak Sync</h1>
<h2 class="sub-heading">Together we can do better</h2>
<p class="lead fone"> This website is a concept to promote the creation an open source system for in-vehicle computers. I am a junior in CSE at Taylor University and know that every idea seen on this site is indeed possible. The technology in todays vehicles have a come a long way but still have a long way to go. With open source software we could see faster development with new creative ideas. Open source software would give users the ability to customize what they want their car to be, giving them more features and more control. Any contributions to the ideas on this site or the site itself are welcome!</p>
<div class="facebook-jumbo">Like us on Facebook! <a href="https://www.facebook.com/jailbreaksync" style="color: #585858; vertical-align:-webkit-baseline-middle;" title="jailbreaksync"><i class="fa fa-facebook-square fa-2x"></i></a></div>
<div class="facebook-jumbo">Contribute via github! <a href="https://www.facebook.com/jailbreaksync" style="color: #585858; vertical-align:-webkit-baseline-middle;" title="jailbreaksync"><i class="fa fa-github-square fa-2x"></i></a></div>
</div>
<hr>
</div>
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
        <img class="img-circle"  src="/assets/gas-gauge-circle.png" alt="Generic placeholder image">
          <h2>Better MPG</h2>
          <p><a class="btn btn-info" href="#MPG" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        	<img class="img-circle"  src="/assets/heating-cooling-circle.png" alt="Generic placeholder image">
          <h2>Remote start</h2>
          <p><a class="btn btn-info" href="#remote_start" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        	<img class="img-circle"  src="/assets/remote-control-circle.png" alt="Generic placeholder image">
          <h2>Remote control</h2>
          <p><a class="btn btn-info" href="#remote_control" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr id="MPG" class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Imagine being able to get better MPG <span class="text-muted">with a simple software update</span></h2>
          <p class="lead"> Being able to reprogram car-puters would give us the ability to reprogram the engine controller to tweak timing, Pulse Width Modulation and other key algorithms to increase your MPG  </p><p>
        </p></div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/assets/gas-gauge.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr id="remote_start" class="featurette-divider">

      <div  class="row featurette">
        <div class="col-md-5">
        	<img class="featurette-image img-responsive" src="/assets/heating-cooling.png" alt="Hot-cold">
          </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Pre-Heat | Pre-Cool <span class="text-muted">Remote start with no additional hardware</span></h2>
          <p class="lead">Many vehicles are already equipped with all the hardware needed to remote start your vehicle, Wifi, bluetooth and cellular connections are all viable options to remotely warm or cool your vehicle from the cozy indoors </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div id="remote_control" class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Bond-like remote control <span class="text-muted">Guided vehicular navigation</span></h2>
          <p class="lead">Instead of you going to your car, have it come to you. Almost everything is controlled by the cars computer these days, many cars have electronically controlled steering, acceleration, brakeing, proximity sensors and cameras. Everything needed to remotely operate a car.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/assets/remote_control.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer class="footer">
        <p class="pull-right"><a href="#home">Back to top</a></p>
        <p>© Chris Hanson · <a href="mailto:chris.hanson6680@gmail.com">Send me a Message! chris.hanson6680@gmail.com</a> </p>
      </footer>

    </div><!-- /.container -->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47455076-1', 'jailbreaksync.com');
  ga('send', 'pageview');

</script>






