// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "font-awesome";


.jumbo-pad{
margin-top:85px;
}
.main-heading{
margin:0px;
}

.sub-heading{
margin-left:50px; margin-top:0px;
}

.footer{
padding: 50px;
}

.marketing .col-lg-4 {
text-align: center;
}

.facebook-jumbo{
text-align:right;
font-size:20px;
}