<!DOCTYPE html>
<html>
<head>
  <title>Jailbreaksync</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".navbar-inverse">
<div class="navbar-wrapper">
      

        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">JailBreak Sync</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="#home">Home</a></li>
                <li><a href="#MPG">MPG</a></li>
                <li><a href="#remote_start">Remote Start</a></li>
                <li><a href="#remote_control">Remote Control</a></li>
              </ul>
            </div>
          </div>
        </div>

      
    </div>


<%= yield %>

</body>
</html>
